
.add-to-cart-btn {
  background: #ffffffb7; /*#1d64ce;*/
  color: #2c5aa0 !important;
  border: none; /*1px solid #2c5aa0; */
  padding: 5px; /*8px 30px;*/
  min-width: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px;
}

.add-to-cart-btn i {
  /*margin-left: 10px; */
  color: #2c5aa0;
}

.add-to-cart-btn:hover, .add-to-cart-btn:hover i {
  background: #1d64ce; /*#1e3d6f;*/
  color: #fff !important;
}

.add-to-cart-btn i {
    background: #ffffff00 !important;
    color: #2c5aa0;
}

.add-to-cart-btn.cartlist-active {
    background: #2c5aa0; /*#007bff*/
    color: white !important;
}

.add-to-cart-btn.cartlist-active i {
    color: white !important;
}

.add-to-cart-btn.cartlist-active:hover {
    /*color: white !important;*/
    background: #1e3d6f;
}

@media (max-width: 768px) {
  .add-to-cart-btn {
    padding: 8px 5px !important;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }

  .add-to-cart-btn i {
  margin-left: 0px;
  }

  .add-to-cart-btn:hover, .add-to-cart-btn:hover i {
  background: #1e3d6f;
  color: #fff !important;
}
}
