/*footer css*/
.site-footer {
  background-color: #113450; /*#113450;*/
  color: #737373;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-section {
  width: 30%;
  margin-bottom: 30px;
}

.footer-section h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #737373;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #666666;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-section {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .footer-section {
    width: 100%;
    text-align: center;
  }
  
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}